beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
future==0.16.0
idna==2.5
konlpy==0.4.4
lxml==3.8.0
module==0.2.1
nltk==3.2.4
numpy==1.13.1
python-telegram-bot==7.0.1
pytz==2017.2
requests==2.18.2
selenium==3.5.0
six==1.10.0
urllib3==1.22
